body{
  display: flex;
  justify-content: center;
}
.case{
  border: solid 2px black;
color: black;
font-weight: 1000 ;
justify-content: center;
display: flex;
height: 33.33%;
align-items: center;
}
.row{
  color: white;
  justify-content: center;
  width: 33.33%;
  height: 100%;
  align-items: center;
}

.morpion{
  display: flex;
  align-items: center;
  width: 700px;
  height: 500px;
  padding-top: 20vh;
}

.container{
  height: 100vh;
}

